<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>C:\inetpub\wwwroot\adresetfinal</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrADAdminPass-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrADAdminUser-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrADBindPath-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrAdminEmailBody-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrAdminEmailSubject-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrAdminUserEmail-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrDomain-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrEmailBody-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrEmailSubject-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrSmtpPass-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrSmtpport-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrSmtpSrv-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrSmtpUser-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)mstrUserListFile-Web.config Connection String" />
  </ItemGroup>
</Project>